// @import '@styles/base';

// @import url('https://fonts.google.com/specimen/Manrope');

// .lightTheme {
//   background-color: #f7f7f7;
//   color: #333;
// }

// /* Dark Theme */
// .darkTheme {
//   background-color: #333;
//   color: #f7f7f7;
// }

// .btnGroup {
//   display: flex;
//   gap: 32px;
//   justify-content: center;
//   align-items: center;
//   width: 100%;
//   position: relative;
//   top: 0;

//   .themeBtn {
//     @include directionX;
//     cursor: pointer;
//     border: none;

//     background-color: var(--color-bg-2);
//     color: var(--color-text);
//     transition: all 300ms ease-in-out;
//     border-radius: 50%;
//     padding: 8px;
//   }

//   #light:hover {
//     color: rgb(209, 209, 27);
//     background-color: var(--color-bg);
//   }

//   #dark:hover {
//     color: var(--color-text);
//     background-color: var(--color-bg);
//   }

//   #cold:hover {
//     color: aqua;
//     background-color: var(--color-bg);
//   }

//   #warm:hover {
//     color: orange;
//     background-color: var(--color-bg);
//   }
// }
// body{
//   // display: flex;
//   justify-content: center;
//   align-items: center;
//   // height: 100vh;
//   overflow: hidden;
//   font-family: 'Manrope', sans-serif;
//   background-color: hsl(218, 23%, 16%);
//   // animation: moveBackground 20s linear infinite;

// }

// @keyframes moveBackground {
//   from {
//     background-position: 0 0;
//   }
//   to {
//     background-position: 100% 0;
//   }
// }

// .content{
//   position: relative;
//   padding: 20px;
//   width: 425px;
//   height: auto;
//   max-height: 350px;
//   border-radius: 5px;
//   // color: hsl(150, 100%, 66%);
//   background-color: hsl(217, 19%, 24%);
//   box-shadow: 0 0 2px 1px cyan;
//   -webkit-border-radius: 5px;
//   -moz-border-radius: 5px;
//   -ms-border-radius: 5px;
//   -o-border-radius: 5px;
//   text-align:center;

//   &:hover{
//     color: rgb(10, 13, 15);
//   }
//   .load {
//     color: var(--color-other);
//   }
// }
// .head{
//   /* text-align: center; */
//   color: hsl(150, 100%, 66%);
//   font-size: 15px;
//   letter-spacing: 5px;
//   margin-top: 5px;
//   padding-bottom: 10px;
// }
// .advice{
//   padding-top:10px;
//   padding-bottom: 2px auto;
//   align-items: center;
//   justify-content: center;
//   color: white;
//   font-size: 28px;
// }
//  img{
//   display: block;
//   top: 20px;
//   position: relative;
//   // margin-top: 70px;
//   max-width: 100vw;
//   // display: block;
//   align-items: center;
//   margin-left: -10px;
//  }


// .pause-icon {
//   // position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   width: 10px;
//   height: 10px;
//   background-color: rgb(59, 122, 122);

// }

// .pauseicon:before,
// .pauseicon:after {
//   content: "";
//   position: absolute;
//   top: 2;
//   bottom: 0;
//   left: 10px;
//   margin-left: 190px;
//   width: 3px;
//   height: 10px;
//   background-color: #fff;

// }

// .pauseicon:before {
//   left: 0;
// }

// .pauseicon:after {
//   right: 0;
// }
// .btn{
//   position: relative;
//   // position: fixed;
//   // margin-top: 400px;
//   top: 45px;
//   // bottom: -1px;
//   width: 60px;
//   height: 60px;
//   border-radius: 50%;
//   -webkit-border-radius: 50%;
//   -moz-border-radius: 50%;
//   -ms-border-radius: 50%;
//   -o-border-radius: 50%;
//   border: none;
//   background:linear-gradient(to left, rgb(64, 189, 168), #41775c);
//   cursor: pointer;

//   &:hover{
//     box-shadow: 0 0 2px 1px cyan;
//     background: cyan;
//   }

// }

// .dice{
//   position: relative;
//   top: 2px;
//   left: 17px;
//   width: 2.5vw;
//   height: 5vh;
//   border: none;
//   background:linear-gradient(to left, rgb(64, 189, 168), #41775c);
//   cursor: pointer;
//   transition: transform 0.5s ease-in-out;

//   &:hover{
//     box-shadow: 0 0 2px 1px orangered;
//     background: orangered;
//   }
//   &.rotate { /* Add new CSS class for rotation */
//     transform: rotate(360deg);
//   }
// }

// .bottom{
//   display: block;
// }

// @media screen and (max-width: 600px) {
//   .content{
//     position: relative;
//     padding: 20px;
//     width: 325px;
//     height: auto;
//     max-height: 350px;
//   }
//   img{
//     display: block;
//     margin-top: 40px;
//     // margin-top: 50px;
//     margin-bottom: 10px;
//     max-width: 93vw;
//     display: block;
//     align-items: center;
//     margin-left: -20px;
//    }

//    .dice{
//     position: relative;
//     top: -28px;
//     left: 28px;
//     width: 8vw;
//     height: 5vh;

//   }
//   .advice p{
//     // padding-top: -20px;
//     margin-top: 10px;
//     padding-bottom: 2px auto;
//     align-items: center;
//     justify-content: center;
//     color: white;
//     font-size: 28px;
//   }

//   .btn{
//     position: relative;
//     // position: fixed;
//     // margin-top: 400px;
//     // top: 45px;
//     // bottom: -1px;
//     width: 60px;
//     height: 60px;
//     border-radius: 50%;
//     -webkit-border-radius: 50%;
//     -moz-border-radius: 50%;
//     -ms-border-radius: 50%;
//     -o-border-radius: 50%;
//     border: none;
//     background:linear-gradient(to left, rgb(64, 189, 168), #41775c);
//     cursor: pointer;
  
//   }
// }
