@import url('https://fonts.google.com/specimen/Josefin+Sans');


.container{ 
  width: 100vw;
  height: 100vh;

} 
 .bglight, .dark { 
    background-position: center; 
    background-size: cover;
    height: 30vh; 
    position: relative; 
} 
 .bglight {  
  background-image: url('@static/images/bg-desktop-dark.jpg');
    width: auto;
    background-repeat: no-repeat;
} 
 .dark {
    
    background-image: url('@static/images/bg-desktop-light.jpg'); 
    width: auto;

}
 .title { 
    align-items: center; 
    color: white; 
    display: flex; 
    font-family: sans-serif;
    font-weight: 400;
    justify-content: flex-end; 
    position: absolute; 
    right: 50%; 
    top: 35%; 
    transform: translate(50%, -50%); 
    gap: 15rem; 
} 
 .moon { 
    height: 20px;
    margin-left: 10px; 
    width: 20px;
    cursor: pointer;
} 
 .inputContainer { 
    align-items: center; 
    display: flex; 
    height: 100%; 
    justify-content: center; 
    font-family: 'Josefin Sans';
    font-weight: 400; 
    background-color: var(--background-color-dark);
    
} 
 .input { 
    border: none; 
    border-radius: 5px; 
    font-size: 16px; 
    font-weight: 400;
    height: 5vh; 
    margin-top: 70px; 
    outline: none; 
    padding: 10px; 
    width: 32vw;
    font-family: 'Josefin Sans'; 
    box-shadow: 0 0 4px 0px black;
    
} 
 .button{ 
    background: rgb(112, 112, 189); 
    border-color: aliceblue; 
    border-radius: 5px; 
    height: 55px; 
    margin-top: 70px; 
    width: 100px; 
}

 .todos_footer{
    border: 1px white;
    border-radius: 50%;
    box-shadow: 2px black;
    cursor: pointer;
    margin-left: 470px;
    margin-top: 250px;
    font-size: 13px;
    font-weight: 400;
    position: absolute;
    
    transform: translateY(-50%);
    font-family: 'Josefin Sans'; 
}
.todos_list{
  align-items: center;
  justify-content: center;
  margin-left: -55px;
  width: 30vw;
  border-radius: 5px;
  height: 35vh;
  margin-top: -10px;
  list-style-type: none;
  font-family: 'Josefin Sans'; 
  font-weight: 400;

}

.todos_list li{
    margin-top: 10px;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Josefin Sans'; 
}
.list::-webkit-scrollbar{
display: none;
}

.todos_container {
  background-color: rgb(44, 44, 44); 
  width: 35vw;
  height: 53vh;
  margin-top: -20px;
  border-radius: 10px;
  margin-left: 32.5%;
  padding: 0;
  box-shadow: 0 0 4px 0px black;
  // position: relative;
  }

.types{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 15px;
  text-align: center;
  font-family: 'Josefin Sans'; 
  font-weight: 400;
  font-size: 15px;

  &:hover {
    cursor: pointer;
  }

}


.todo_item{
  display: flex;
  width: 117.5%;
  border-bottom: 1px solid gray;
  
}

input[type="checkbox"] {
  height: 15px;
  width: 15px;
  cursor: pointer;
  margin-right: 15px;
  margin-left: 20px;
  background: #ad0f24;
}



.text_bottom{
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    margin-top: 40px;
    color: gray;
    font-family: 'Josefin Sans'; 
}

.todos_list li {
    margin-top: 10px;
    font-size: 15px;
    margin: 0;
    height: max-content;
    padding: 10px 0;
  }

span{
  width: 100vw;
}


.strikethrough {
  text-decoration: line-through;
  color: gray;
}

.customActive:hover{
  color: black;
}

.customCompleted:hover{
  color: black;
}

.btnedit{
  margin-right: 10px;
  width: 3vw;
  height: auto;
  margin-left: -8px;
  cursor: pointer;
}

.btndelete {
  display: flex;
  justify-self: end;
  background: transparent;
  border: none;
  color: gray;
  font-size: 15px;
  font-weight: 400;
  margin-right: 10px;
  cursor: pointer;

  &:hover{
    color: #ad0f24;
  }
}

// .custom:hover{
//   color: blue;
// }

.clear{
  color: blue;
}

.clearCompleted:hover{
  color: #ad0f24;
}
.tengah{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.editText{
  width: 200vw;
  border: none;
}

.editText.bglight{
  width: 200vw;
  border: none;
}

.types_mobile{
  display: none;
}

@media screen and (max-width: 768px) {
  .todos_footer {
    margin-left: -3%;
  }

  .title{
    color: white; 
    font-family: 'Josefin Sans'; 
    font-weight: 400;
    justify-content: space-around; 
    position: absolute; 
    right: 50%; 
    top: 35%; 
    gap: 15rem;
  }

  .todos_container{
    // margin-top: -20px;
    display: block;
    margin-left: 20px;
    height: 370px;
    width: 90vw;
    position: relative;
  }
  .todos_list {
    width: 90%;
    margin-left: -50px;
    
  li {
    margin-top: 5px;
    width: 117%;
    display: flex; /* Add display flex to make sure the list items don't stack vertically */
    align-items: center; /* Center the content vertically */
  }
  }
  
  .input{
    // margin-top: 80px;
    width: 140%;
    margin-left: -25%;
    align-items: center;
    display: flex;
    // justify-content: center;

  }

  .types{
    margin-left: 1%;
    margin: 25px 10px;
    gap: 1rem;
    font-size: 13px;
   
  }


  .todo_item {
    margin-top: 5px;
    width: 117%;
  }
  
  .todo_item input[type="checkbox"] {
    height: 12px;
    width: 12px;
    margin-left: 20px;
  }
  
  .todos_list li {
    font-size: 14px;
    padding: 8px 0;
  }

  .text_bottom{
    margin-top: 90px;
}
.btndelete {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.btnedit{
  width: 8.5vw;
  height: 4vh;
  margin-left: 5px;
}

.custom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tengah {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
  border-radius: 5px;
  padding: 1px 5px;
  display: none;
}

.tengah.bglight {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
  border-radius: 5px;
  padding: 1px 5px;
  color: #ad0f24;
  display: none;
  
}
.tengah_mobile{
 display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  gap: 0.5rem;
  padding: 1px 5px;
  font-size: 13px;

}

.types_mobile{
  display: flex;
  justify-content: center;
  gap: 15rem;
  border-radius: 8px;
  
}

}

