@mixin light-theme {
    --color-bg: #fff;
    --color-bg-2: #e8eef1;
    --color-text: #001a41;
    --color-other: #001a41;
    --color-dice: #e8eef1;
  }
  
  @mixin dark-theme {
    --color-bg: #202632;
    --color-bg-2: #313a49;
    --color-text: #d0e1e9;
    --color-other: #53ffab;
    --color-dice: #1f2632;
  }
  
  @mixin warm-theme {
    --color-bg: #331d2c;
    --color-bg-2: #3f2e3e;
    --color-text: #a78295;
    --color-other: #623a70;
    --color-dice: #3f2e3e;
  }
  
  @mixin cold-theme {
    --color-bg: #ebc7e6;
    --color-bg-2: #bface2;
    --color-text: #645cbb;
    --color-other: #3b2d6f;
    --color-dice: #85f4ff;
  }
  